{% extends 'navbar/navbar-general.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}">
{% endblock links %}

{% block title %}
  <title>{{successMessage}} - Shib Hai</title>
{% endblock title %}

{% block content %}
    <div class="myContent container-fluid">
        <img class="img-fluid log-failed" src="https://storage.googleapis.com/cloud-project-g01/log_success.png" alt="success login logo" />
        <p class="fs-3 text-primary">{{successMessage}}</p>
    </div>
{% endblock content %}